/* *{
    padding: 0;
    margin: 0;
} */
body {
    background-color: #0D192C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}
.container {
    height: 596px;
    width: 350px;
    background-color: #15263F;
    border-radius: 10px;
    color: #8BACD9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
img.image-container {
    width: 302px;
    height: 302px;
    border-radius: 10px;
}
img.image-container:hover {
    
}

.text-container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;

}
h2{
    color: #fff;
    font-size: 22px;
    /* margin-top: 0px; */
} h2:hover {
    color: #00FFF8;
}
p {
    font-size: 18px;
    font-weight: 300;
    /* margin-top: 0px; */
}
.details{
    display: flex;
    justify-content: space-between;
}
.details span {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.details img {
    margin-right: 10px;
}
span.eth {
    color: #00FFF8;
}
hr {
    width: 302px;
    border: 0.5px solid #2E405A;
}
.author-container {
    display: flex;
    font-size: 16px;
    
    
}
.author-container span {
    color:#fff;
}
.author-container span:hover {
    color:#00FFF8 ;
}
.author-container img {
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
}

/* div {
    border: 1px solid red;
} */